.container {
/*  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;*/
}

th {
  text-align: left;
}

 html, body, .container, #map-canvas {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
        height: 400px;
      }

.logo {
  display: block;
   width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.event {
  max-height:200px;
 /*4*/
}

/*.descriptionNone {
  display:none;
  visibility:hidden;
}*/

.tiptext {
    background:#ccc;
    border: 1px #333 solid;
    padding:5px;
    width:100px;
}

.descript{
    display:none;
    position:absolute;
    border:1px solid #000;
    background: gray;
}
