.container {
/*  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;*/
}

th {
  text-align: left;
}

 html, body, .container, #map-canvas {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
        height: 400px;
      }

#fb-button {
  float: left;
  padding: 20px 0px 0px 20px;
}

.logo {
  display: block;
   width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.event {
  max-height:200px;
  overflow:scroll;
}

.descriptionNone {
  display:none;
  visibility:hidden;
}

#logo-div {
  float: right;
  padding: 20px 30px 20px 0px;

}

.logo{
  height: 100px;
  width: 400px;
}

#options-form {
  text-align: center;
}

.find-event {
  border: 2px;
  margin: auto;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #aaaaaa;
  border-radius: 10px;

}

#find_event:hover {
  background-color: gray;

}

.upcoming_event ul {
  margin: 0;
}

.event h4 {
  font-size: 1.2 em;
  margin: 3px;
}

.rock {
  float: right;
  height: 10px;
}

.rock_img {
  height: 56px;
  margin-right: 10px;
}
