
<div id="logo-div">
<img class="logo"  src="http://i.imgur.com/IKBPvD5.png" alt="">
</div>



<!-- <div class ="box"> -->
<div id="map-canvas"></div>

<!-- <div class="container">
 -->
<form id="options-form" action='/location' method='get'>
  <div>
    <input id="find-event" type='submit' name="find_event" value="carpe eventus!">
  </div>
  <div>
    Select a something you dig: (or don't!)
    <select class="mycategory">
      <option value="">Optional Categories</option>
      <option value="HTML">HTML</option>
      <option value="Ruby">Ruby</option>
      <option value="Javascript">Javascript</option>
      <option value="Coffee">Coffee</option>
      <option value="3D printing">3D printing</option>
      <option value="Sleep deprivation">Sleep deprivation</option>
      <option value="Sports">Sports</option>
      <option value="Drinks">Drinks</option>
      <option value="Free Food">Free Food AKA "Networking"</option>
      <option value="Travel">Travel</option>
      <option value="Performances">Performances</option>
      <option value="Job Fairs">Job Fairs</option>
      <option value="Music">Music</option>
      <option value="Conference">Conference</option>
    </select>
    <select class="mydistance">
      <option value="100">Optional Distance</option>
      <option value="0.25">Right next door (0.25 mi)</option>
      <option value="1.0">10 minute walk (1 mi)</option>
      <option value="5">Over yonder (5 mi)</option>
      <option value="10">Slightly more yonder(10 mi)</option>
      <option value="20">Most Yonderest (20 mi)</option>
    </select>

  </div>
  </form>
<!-- </div> -->

<div class="profile">
</div>

<div class="events">
</div>
