
<h1>Carpe</h1>

<h2>Eventus</h2>

<div id="map-canvas"></div>

<div class="container">
  <form action='/location' method='get'>
    <input class="find-event" type='submit' name="find_event" value="carpe eventus!">
  </form>
</div>


