 <h1>Sign Up</h1>
  <form id="sign-up" method="post" action="/user">
    <label class="label" for="name">Name</label>
    <input type="text" name="name" placeholder="e.g., joe" >
    <br>

    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>

      <label class="label" for="distance">Distance Preference</label>
    <input type="text" name="distance" placeholder="In miles">
    <br>

    <label class="label" for="category">Category Preference</label>
    <input type="text" name="category" placeholder="In miles">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>




  <label class="label" for="distance">Distance Preference</label>
    <input type="text" name="distance" placeholder="In miles">
    <label class="label" for="category">Category Preference</label>
    <input type="text" name="category" placeholder="In miles">